#output {
	max-height: 10*37+1px;
	overflow-y: auto;
}

.data-null, .data-empty {
	color: #999999;
	font-style: italic;
}

#debug {
	max-height: 144px;

	white-space: pre-wrap;
	
	/* Old browsers */
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#ajax-loader {
	display: none;
}

#fullscreen-button {
	margin-top: 20px;
	margin-bottom: 10px;
}

#fullscreen {
	z-index: 1000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	overflow: auto;

	display: none;

	#fullscreen-close {
		position: fixed;
		z-index: 1100;
		top: 20px;
		right: 20px;
	}

	#fullscreen-content {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.result-links {
	cursor: pointer;
}

#insert-div {
	display: none;
}