<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Manager</title>
	<meta name="description" content="Database Project">
	<meta name="author" content="Sacha Bron">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- styles -->
	<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 	<link rel="stylesheet/less" type="text/css" href="style/main.less" />
	<!-- favicons -->
	<link href="img/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Music Manager <small>Database Project</small></h1>
			<p>This inteface let you execute SQL requests in our music database.</p>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<strong class="list-group-item">SQL Requests</strong>
					<div id="sql-buttons">
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<h3>Custom Search</h3>
				<form class="form-horizontal" role="form">
					<div class="input-group">
					    <label for="search" class="input-group-addon control-label">Search</label>
				      	<input type="text" class="form-control" id="search" placeholder="Type your keyword here...">
						<span class="input-group-btn">
			        		<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</form>
				<h3>Output</h3>
				<div id="output">
					<span class="data-empty">The table is empty. There is no result to show.</span>
				</div>

				<h3>Debug</h3>
				<pre id="debug">Hi! I'm the console!
</pre>
			</div>
		</div>
	</div>

	<!-- libs -->
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/less/less.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<!-- scripts -->
	<script src="scripts/ui.js"></script>
</body>
</html>
