<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Manager</title>
	<meta name="description" content="Database Project">
	<meta name="author" content="Sacha Bron">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- styles -->
	<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 	<link rel="stylesheet/less" type="text/css" href="style/main.less" />
	<!-- favicons -->
	<link href="img/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
	<div id="fullscreen">
		<button  class="btn btn-default" title="close" id="fullscreen-close"><span class="glyphicon glyphicon-remove"></span></button>
		<ul  id="fullscreen-tabs" class="tabs nav nav-tabs nav-justified"></ul>
		<div id="fullscreen-content" class="tab-content output"></div>
	</div>
	<div class="container">
		<div class="page-header">
			<h1>Music Manager <small>Database Project</small></h1>
			<p>This inteface let you execute SQL requests in our music database.</p>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<strong class="list-group-item">SQL Requests</strong>
					<div id="sql-buttons">
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<h3>Custom Search</h3>
				<form class="form-inline" role="form" id="search-form">
					<div class="form-group">
					    <label for="search-input" class="sr-only">Keyword</label>
				      	<input type="text" class="form-control" id="search-input" placeholder="Keyword" required>
					</div>
					in
					<div class="form-group">
						<select class="form-control" id="form-table-select">
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Search <span class="glyphicon glyphicon-search"></span></button>
				</form>
				<button type="button" class="btn btn-default pull-right" id="fullscreen-button" title="Fullscreen"><span class="glyphicon glyphicon-fullscreen"></span></button>
				<h3><div id="table-title">Output</div></h3>
				<ul class="tabs nav nav-tabs nav-justified" id="main-tabs"></ul>
				<img id="ajax-loader" src="ajax-loader.gif" alt="Please wait...">
				<div id="main-output" class="tab-content output">
					<span class="data-empty">The table is empty. There is no result to show.</span>
				</div>
				<div id="insert-div">
					<h3>Insert New Data</h3>
					<form class="form-inline" id="insert-form"></form>
				</div>
				<h3>Debug</h3>
				<pre id="debug">Hi! I'm the console!
</pre>
			</div>
		</div>
	</div>

	<!-- libs -->
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/less/less.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<!-- scripts -->
	<script src="scripts/ui.js"></script>
</body>
</html>
